<!-- http://cythilya.blogspot.tw/2015/02/bootstrap-rwd-template.html -->

<%- contentFor('body')%>
<div id="app">
  <h1>
    {{ cool }}
  </h1>
  <h2>
    {{ title }}
  </h2>
  <div v-for="(item, index) in links">
    <h3>{{ item }}</h3>
  </div>
</div>

<%- contentFor('js')%>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      cool: '<%=cool%>',
      title: '<%=title%>',
      loading: false,
      links: []
    },
    mounted: function() {
      var data = this.title.split('/');
      this.links = data.map(function(item, index, array) {
        if (item === '') return '/';
        else return item;
      });
    },
    created: function() {
      // `this` points to the vm instance
    },
    //el methods
    methods: {}
  });
</script>

<%- contentFor('css')%>
