<!-- http://cythilya.blogspot.tw/2015/02/bootstrap-rwd-template.html -->

<%- contentFor('body')%>

<div class="ts cards" id="app_home">

  <div class="ts primary card" v-for="(item, index) in items">
    <div class="content" :href="item.url">
      <a class="header" :href="item.url">{{item.title}}</a>
      <a class="description" href="">{{item.desc}}</a>
    </div>
  </div>

</div>

<%- contentFor('js')%>
<script>
  //
  var app_home = new Vue({
    el: '#app_home',
    data: {
      cool: '<%=cool%>',
      title: '<%=title%>',
      loading: false,
      items: [],
    },
    mounted: function () {
      var data = this.title.split('/');
      this.links = data.map(function (item, index, array) {
        if (item === '') return '/';
        else return item;
      });
    },
    created: function () {
      // `this` points to the vm instance
      var data = [];
      data.push({
        url: './product/list',
        title: '產品',
        desc: '進入產品功能，進行你的工作'
      });
      data.push({
        url: './category/list',
        title: '分類',
        desc: '進入分類功能，進行你的工作'
      });
      data.push({
        url: './vendor/list',
        title: '供應商',
        desc: '進入供應商功能，功能進行你的工作'
      });
      data.push({
        url: './shipment/list',
        title: '出貨',
        desc: '進入出貨功能，功能進行你的工作'
      });

      data.push({
        url: './compass',
        title: 'compass',
        desc: 'H5指北针（基于deviceorientation）'
      });

      this.items = data;
      //
    },
    //el methods
    methods: {}
  });
</script>

<%- contentFor('css')%>
</div>