<!-- http://cythilya.blogspot.tw/2015/02/bootstrap-rwd-template.html -->


<%- contentFor('body')%>
<div class="jumbotron" style="">
    <!--<div class="container">
             <h1>
                力愙運動API文件(cycoholic-api)
            </h1>
            <p></p> 
        </div>-->
    <!-- 4:3 aspect ratio -->
    <!-- <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://cn27529.gitbooks.io/cycoholic-api/content/"></iframe>
        </div> -->
    <div class="container">
        <h2 class="site__title mega" style="display: block;">
            <a href="https://cn27529.gitbooks.io/cycoholic-api/content/">
                <%=title%>
            </a>
            <span id="cool">
                <%=cool%>
            </span>
        </h2>
    </div>
</div>


</html>

<%- contentFor('js')%>
    <script>

        function testAnim(x) {
            $('#cool').removeClass().addClass('slideInUp' + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                $(this).removeClass();
            });
        }


        $(function () {
            //console.log(jQuery)
            var cool = '<%=cool%>';
            $('#cool').val(cool);

            // var jqxhr = $.get("/cool", function (data) {
            //     //alert( "success" );
            // })

            // jqxhr.done(function (data) {
            //     //alert(data);
            //     var cools = data.data;
            //     setInterval(function () {
            //         var ii = parseInt(Math.random() * cools.length);
            //         $('#cool').html(cools[ii])
            //         //testAnim('fadeInDownBig');
            //     }, 2000);

            // });

        })
    </script>

    <%- contentFor('css')%>