<!--  -->

<%- contentFor('body')%>
    <div class="jumbotron">
        <div class="container">
            <h2>
                <a href="https://cn27529.gitbooks.io/alan-app/content/logs.html">
                    <%=title%>
                </a>
                <span id="cool">
                    <%=cool%>
                </span>
            </h2>
            <ul class="nav">
                <% for(var i=0; i< data.length; i++) { %>

                    <a style="margin-top: 10px;" target="blank" href="../logs/<%= data[i].name %>" class="btn btn-primary btn-lg active" role="button"
                        aria-pressed="true">
                        <%= data[i].name %>
                            <div>
                                <%= data[i].kb %>
                                    kb
                            </div>
                    </a>

                    <% } %>
            </ul>

        </div>
    </div>

    <%- contentFor('js')%>
        <script>
            //alert('contentFor("js")');
        </script>

        <%- contentFor('css')%>
            <style>
            </style>