@model CoreMVC01.Models.Customers

@{
    ViewData["Title"] = "Details";
}

<h1>客戶詳細資料</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            公司名稱：
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cname)
        </dd>
        <dt class = "col-sm-2">
            電話：
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctel)
        </dd>
        <dt class = "col-sm-2">
            傳真：
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cfax)
        </dd>
        <dt class = "col-sm-2">
            地址：
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cid">編輯客戶資料</a> |
    <a asp-action="Index">回客戶列表</a>
</div>
