<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Tocas UI：CSS 與元件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <!-- Tocas JS：模塊與 JavaScript 函式 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
    <title>
        <%= title %>
    </title>

    <% /* Place any styles in the page in this section. */ %>
    
</head>

<body>
    <h1>This it a _layout.ejs</h1>
    <%- bar%>
    <%- body%>
    <%- foo%>
</body>

<%- js%>

    <%- css%>
</html>
