<%- contentFor('body')%>
<script>
    //alert('contentFor("body")');
</script>
<!-- 
<table class="ts sortable padded large table">
    <thead>
        <tr>
            <% for(var i=0; i< cols.length; i++) { %>
            <th>
                <%= cols[i] %>
            </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i< data.length; i++) { %>
        <tr>
            <td>
                <%= data[i].CId %>
            </td>
            <td>
                <button class="ts primary button"><%= data[i].CName %>
                        <div class="ts floating circular label">
                                <%= data[i].Products.length %>
                        </div>
                    </button>
            </td>
            <td>
                    <%= data[i].Products.length %>
            </td>
        </tr>
        <% } %>

    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">未到人數：3</th>
        </tr>
    </tfoot>
</table> -->

<div class="ts cards">
    <% for(var i=0; i< data.length; i++) { %>

    <div class="ts primary card">

        <div class="content">
            <a class="header" href="../product/bycategory/<%= data[i].CId %>">
            </a>
            <% if (data[i].Products.length > 0) { %>
                <a class="description" href="../product/bycategory/<%= data[i].CId %>">
                <button class="ts primary button">
                    <% } else { %>
                <a class="description" href="#!"></a>
                <button class="ts primary button" id="btn-<%= data[i].CId %>" onclick="testAnim(this.id, 'shake')">
                        <script>
                            function testAnim(eleid, x) {
                                var css = 'shake animated';
                                $('#' + eleid).removeClass().addClass('ts primary button ' + x + ' animated').one(
                                    'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
                                    function () {
                                        $(this).removeClass().addClass('ts primary button')
                                    });
                            }
                        </script>
                        <% } %>

                        <%= data[i].CName %>&nbsp;&nbsp;

                        <div class="ts floating circular label">
                            <%= data[i].Products.length %>
                        </div>
                    </button>

            </a>
        </div>
    </div>

    <% } %>

</div>

<%- contentFor('js')%>
<script>
    //alert('contentFor("js")');
    var data = <%-stringJson%>;

    ts('.ts.sortable.table').tablesort();
</script>

<%- contentFor('css')%>
<script>
    //alert('contentFor("css")');
</script>
<style>

</style>