<%- contentFor('body')%>

    <div id="app_page">
        <h1>
            {{ title }}
        </h1>
        <div id="compass"></div>
        <div id="options"></div>
        <div id="info"></div>
    </div>

    <%- contentFor('js')%>
        <script>
            //var dataString = '<%-dataString%>';

            var app_page = new Vue({
                el: '#app_page',
                data: {
                    cool: '<%=cool%>',
                    title: '<%=title%>',
                    loading: false,
                    compass: []
                },
                mounted: function() {},
                created: function() {
                    // `this` points to the vm instance
                    var jsonString = '<%-dataString%>';
                    if (jsonString !== '') this.compass = JSON.parse(jsonString);
                },
                //el methods
                methods: {}
            });
        </script>

        <%- contentFor('css')%>
            <style></style>