<%- contentFor('body')%>

    <div id="app_page">
        <h1>
            {{ title }}
        </h1>

        <div :href="#" class="item" v-for="(item, index) in files">
            <i class="file big icon"></i>{{ item.name }}</div>

    </div>

    <%- contentFor('js')%>

        <script>
            //var dataString = '<%-dataString%>';

            //app-breadcrumb
            var app_page = new Vue({
                el: '#app_page',
                data: {
                    cool: '<%=cool%>',
                    title: '<%=title%>',
                    loading: false,
                    files: [],
                },
                mounted: function() {},
                created: function() {
                    // `this` points to the vm instance
                    var jsonString = '<%-dataString%>';
                    this.files = JSON.parse(jsonString);
                },
                //el methods
                methods: {}
            });
        </script>

        <%- contentFor('css')%>
            <style>

            </style>